extends partials/layout.pug

block content
  h1 Carbo Diem!
  p Today's date is #{time}
  h3 About your baker:
  p.
    Wristwatch cyber-lights assassin saturation point decay geodesic BASE jump systema grenade weathered. Table youtube neural tank-traps singularity dolphin realism plastic cardboard bomb. City smart-sunglasses Kowloon Legba sprawl alcohol computer courier tank-traps cyber. Office corporation geodesic rifle sensory RAF pre. Cardboard tank-traps smart-alcohol motion city fluidity youtube film vinyl math-pre. Tank-traps knife grenade BASE jump silent corrupted market engine math-tiger-team neural hotdog dolphin. Smart-free-market kanji Legba ablative hacker soul-delay A.I. network tiger-team.
