extends partials/layout.pug

block content
  .welcome
    .welcome__text
      h1 welcome to the Jufe's Bakery!
    .welcome__image
      img(src="https://media.lasvegasweekly.com/img/photos/2014/05/21/Carlos_Bakery_LE1_t1000.jpg?c76bf34eada957f64a0b14990027a576ff9bf379")
