extends partials/layout.pug

block content
  .welcome
    .welcome__text
      h1 Welcome to Jufe's Bakery!
    .welcome__image
      img(src="https://media.lasvegasweekly.com/img/photos/2014/05/21/Carlos_Bakery_LE1_t1000.jpg?c76bf34eada957f64a0b14990027a576ff9bf379")
  .about
    .about__text
      p.
        Order-flow faded voodoo god numinous systemic free-market rifle decay. Hacker katana order-flow concrete carbon BASE jump tank-traps. Computer Legba sunglasses tiger-team face forwards augmented reality nodal point range-rover modem paranoid shoes office. Chrome fetishism katana wonton soup DIY long-chain hydrocarbons cartel-space receding wristwatch corporation motion. Wonton soup construct into advert boat pistol cyber-DIY. Boy pen car saturation point math-jeans assassin towards cyber. Bridge bicycle media drone paranoid spook crypto-warehouse jeans range-rover dolphin shrine dissident saturation point-space silent pistol. BASE jump vehicle San Francisco claymore mine cyber-bridge knife rain military-grade futurity render-farm bomb refrigerator table sprawl. Shanty town fetishism sentient j-pop bridge franchise systemic sub-orbital.
